development:
 EXCEPTION_USER_EMAIL: ""
 MAIL_ADDRESS: ""
 MAIL_PORT: ""
 MAIL_USER_NAME: ""
 MAIL_PASSWORD: ""
 SENDER_ADDRESS: ""
 DOMAIN: ""
 FACEBOOK_KEY: ""
 FACEBOOK_SECRET: ""

production:
 EXCEPTION_USER_EMAIL: ""
 MAIL_ADDRESS: ""
 MAIL_PORT: ""
 MAIL_USER_NAME: ""
 MAIL_PASSWORD: ""
 SENDER_ADDRESS: ""
 DOMAIN: ""
 RAILS_SERVE_STATIC_FILES: "true"
 FACEBOOK_KEY: ""
 FACEBOOK_SECRET: ""